body{border:0; margin:0.5% 0; text-align:justify; text-indent:0; font-family: Serif;}
p{margin:0.1em; text-indent:1.5em; line-height:1.2em; font-family: Serif;}
h1{
	font-weight: bold;
	margin: 30% 0 1em 0;
	font-size: 22px;
	text-indent: 0;
	text-align: center;
	font-family: sans-serif;
}
h2{
	font-weight: bold;
	margin: 25% 0 1em 0;
	font-size: 18px;
	text-indent: 0;
	text-align: center;
	font-family: sans-serif;
}
h3{font-weight:bold; margin:3em 0 1em 2em; font-size:1.3em; text-indent:0; text-align:left; font-family: sans-serif;}
h4{font-weight:bold; margin:1em 0 1em 0; font-size:1.1em; text-align:center; font-family: sans-serif;}
h5{font-weight:bold; margin:2em 1em 1em 1em; font-size:1.1em; font-family: sans-serif;}
h6{font-weight:bold; margin:1em 0 1em 2em; font-size:1em; font-family: sans-serif;}
sup, sub{font-size:.6em;}
a{text-decoration:none;}
img{border:0; margin:0; max-width:99%;}
table{font-size:1em; margin:0 0 2em 0; border:1px solid #000; width:100%;}
th{border:1px #000 solid; background-color:#000; color:#FFF; text-align:center; font-family: sans-serif;}
td{border:1px solid #000; text-align:left;}
cite{font-style:normal; font-weight:normal; margin:2em;}
pre{font-family:monospace; font-size:1em; line-height:1.2em; text-align:left; white-space:pre; margin:1em 0; padding:1.5em; border:1px black solid;}
tt{font-family:monospace;}
blockquote{margin:.5em 1em 1em 2em; font-weight:normal; font-style:normal;}
ol, ul, li {margin:0 0 0 1em;}
dt{font-weight:bold; margin:1em 0 0 0; text-indent:0; font-family: sans-serif;}
dd{font-weight:normal; margin:0 0 0 2em; text-indent:0;}
big{font-size:2em;}
/* Diferentes alineaciones (valen para todas las etiquetas de bloque) */
.l {text-align:left; text-indent:0;}
.c {text-align:center; text-indent:0;}
.r {text-align:right; text-indent:0;}
.f {text-indent:0;}
.u {text-decoration:underline;}
.o {text-decoration:overline;}
/* Estilos para titulo en reduadro */
.t1 {height:2.4em; border:0.1em solid #000; display:block; margin-bottom:2em; margin-top:4em;}
.t2 {float:left; font-weight:normal; margin-top:2.2em; margin-left:0; margin-bottom:0; padding-right:1em; padding-left:0; padding-bottom:0; padding-top:0; font-size:.8em; background-color:#FFF;}
.t3 {line-height:100%; font-style:normal; font-weight:normal; text-transform:uppercase; font-size:3.1em; margin-right:0; margin-top:0; margin-bottom:0; float:left; padding:0; background-color:#FFF;}
.zx {
	font-size: 22px;
}
.zx {
	font-weight: normal;
}
.ad {
	font-weight: normal;
}
.as {
	font-size: 14px;
}
.pi {
	font-weight: normal;
}
.cv {
	font-style: italic;
}
