@page {
  margin-bottom: 5pt;
  margin-top: 5pt;
}
@font-face {
  font-family: "font-penguin";
  font-weight: normal;
  font-style: normal;
  src: url(EPUB/xhtml/prh_core_assets/fonts/avantgarde-regular.otf);
}
@font-face {
  font-family: "font-penguin";
  font-weight: bold;
  font-style: normal;
  src: url(EPUB/xhtml/prh_core_assets/fonts/avantgarde-bold.otf);
}
