.booktitle {
  clear: both;
  display: block;
  font-family: inherit;
  font-size: 1.41667em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: normal;
  hyphens: none;
  letter-spacing: 0.133em;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center;
  vertical-align: baseline;
  margin: 0 0 0.5em;
  padding: 0;
  border: currentColor none 0;
}
.brand_logo_solo {
  display: block;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  page-break-inside: avoid;
  text-align: center;
  vertical-align: baseline;
  width: 30%;
  margin: 25% 35% 1em;
  padding: 0;
  border: currentColor none 0;
}
.calibre {
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: currentColor none 0;
}
.calibre1 {
  display: block;
  font-family: serif;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  vertical-align: baseline;
  margin: 0 5pt;
  padding: 0;
  border: currentColor none 0;
}
.calibre2 {
  display: block;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: currentColor none 0;
}
.calibre3 {
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  height: auto;
  line-height: inherit;
  max-height: 50vh;
  max-width: 100%;
  object-fit: contain;
  page-break-inside: avoid;
  vertical-align: baseline;
  width: 100%;
  margin: 0;
  padding: 0;
  border: currentColor none medium;
}
.calibre4 {
  font-weight: bold;
}
.calibre5 {
  font-style: italic;
}
.calibre6 {
  clear: both;
  color: gray;
  display: block;
  height: 0;
  width: 80%;
  margin: 1.5em 10%;
  border-top: currentColor none medium;
  border-right: currentColor none medium;
  border-bottom: inherit solid 1px;
  border-left: currentColor none medium;
}
.calibre7 {
  border-radius: 2px;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  height: auto;
  line-height: inherit;
  max-height: 50vh;
  max-width: 100%;
  object-fit: contain;
  page-break-inside: avoid;
  vertical-align: baseline;
  width: 100%;
  margin: 0;
  padding: 0;
  border: currentColor none medium;
}
.calibre8 {
  display: block;
  font-family: serif;
  font-size: 1em;
  font-style: italic;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  orphans: 2;
  text-align: center;
  text-indent: 0;
  vertical-align: baseline;
  widows: 2;
  margin: 0;
  padding: 0;
  border: currentColor none 0;
}
.calibre9 {
  border-radius: 2px;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  height: 100%;
  line-height: inherit;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  vertical-align: baseline;
  width: auto;
  margin: 0;
  padding: 0;
  border: currentColor none medium;
}
.calibre10 {
  display: block;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: currentColor none 0;
}
.calibre11 {
  display: block;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  vertical-align: baseline;
  margin: 1em 1.5em;
  padding: 0;
  border: currentColor none 0;
}
.calibre12 {
  text-decoration: underline;
}
.calibre13 {
  color: #4C71B3;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: underline;
  text-decoration-color: #4C7AA9;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: currentColor none 0;
}
.calibre14 {
  border-radius: 2px;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  height: auto;
  line-height: inherit;
  max-height: 70vh;
  max-width: 100%;
  object-fit: contain;
  page-break-inside: avoid;
  vertical-align: baseline;
  width: 100%;
  margin: 0;
  padding: 0;
  border: currentColor none medium;
}
.calibre15 {
  display: block;
  font-family: "font-penguin", "avenir", "avenir next", "proxima nova", sans-serif;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  vertical-align: baseline;
  margin: 0 5pt;
  padding: 0;
  border: currentColor none 0;
}
.calibre16 {
  clear: both;
  display: block;
  font-family: inherit;
  font-size: 1.83333em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: bold;
  hyphens: none;
  line-height: inherit;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center;
  vertical-align: baseline;
  margin: 0.8em 0 0.5em;
  padding: 0;
  border: currentColor none 0;
}
.calibre17 {
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  text-decoration-color: #4C7AA9;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: currentColor none 0;
}
.calibre18 {
  display: block;
}
.calibre19 {
  display: inline-block;
  font-size: 1.33333em;
  font-weight: bold;
  padding-top: 0.25em;
}
.calibre20 {
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: underline;
  text-decoration-color: #4C7AA9;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: currentColor none 0;
}
.calibre21 {
  display: block;
  font-family: serif;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  orphans: 2;
  text-indent: 0;
  vertical-align: baseline;
  widows: 2;
  margin: 0 0 0.5em;
  padding: 0;
  border: currentColor none 0;
}
.calibre22 {
  color: #4C71B3;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  text-decoration-color: #4C7AA9;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: currentColor none 0;
}
.calibre23 {
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  height: auto;
  line-height: inherit;
  object-fit: contain;
  page-break-inside: avoid;
  vertical-align: baseline;
  width: 15em;
  margin: 0;
  padding: 0;
  border: currentColor none medium;
}
.calibre24 {
  color: #000;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  text-decoration-color: #4C7AA9;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border-top: currentColor none 0;
  border-right: currentColor none 0;
  border-bottom: currentColor none medium;
  border-left: currentColor none 0;
}
.calibre25 {
  display: list-item;
  margin-bottom: 0.7em;
}
.calibre26 {
  display: list-item;
  margin-bottom: 0;
}
.calibre27 {
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  text-decoration-color: #4C7AA9;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border-top: currentColor none 0;
  border-right: currentColor none 0;
  border-bottom: currentColor none medium;
  border-left: currentColor none 0;
}
.calibre28 {
  display: block;
  list-style-type: decimal;
  margin: 0.5em auto;
}
.calibre29 {
  display: list-item;
}
.chapter {
  display: block;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  vertical-align: baseline;
  margin: 15% 0 0;
  padding: 0;
  border: currentColor none 0;
}
.chapter_number {
  clear: both;
  display: block;
  font-family: inherit;
  font-size: 1.125em;
  font-style: inherit;
  font-variant: small-caps;
  font-weight: normal;
  hyphens: none;
  letter-spacing: 0.1em;
  line-height: inherit;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center;
  vertical-align: baseline;
  margin: 1.5em 0 0.5em;
  padding: 0;
  border: currentColor none 0;
}
.chapter_sub {
  display: block;
  font-family: sans-serif;
  font-size: 1.125em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  orphans: 2;
  text-align: center;
  text-indent: 0;
  vertical-align: baseline;
  widows: 2;
  margin: 1em 0 0;
  padding: 0;
  border: currentColor none 0;
}
.chapter_sub1 {
  display: block;
  font-family: sans-serif;
  font-size: 1.125em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  orphans: 2;
  text-align: center;
  text-indent: 0;
  vertical-align: baseline;
  widows: 2;
  margin: 0 0 2.5em;
  padding: 0;
  border: currentColor none 0;
}
.chapter_sub2 {
  display: block;
  font-family: sans-serif;
  font-size: 1.125em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  orphans: 2;
  text-align: center;
  text-indent: 0;
  vertical-align: baseline;
  widows: 2;
  margin: 1em 0 2.5em;
  padding: 0;
  border: currentColor none 0;
}
.chapter_title {
  clear: both;
  display: block;
  font-family: inherit;
  font-size: 1.66667em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: normal;
  hyphens: none;
  line-height: inherit;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center;
  vertical-align: baseline;
  margin: 0 0 0.5em;
  padding: 0;
  border: currentColor none 0;
}
.chapter_title1 {
  clear: both;
  display: block;
  font-family: inherit;
  font-size: 1.66667em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: normal;
  hyphens: none;
  line-height: inherit;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center;
  vertical-align: baseline;
  margin: 1.5em 0 0.5em;
  padding: 0;
  border: currentColor none 0;
}
.copyright_logo {
  display: block;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: 1.3em;
  page-break-inside: avoid;
  text-align: left;
  vertical-align: baseline;
  width: 100%;
  margin: 1em auto;
  padding: 0;
  border: currentColor none 0;
}
.copyright_page_left {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: 1.3em;
  text-align: left;
  vertical-align: baseline;
  margin: 0 5pt;
  padding: 0;
  border: currentColor none 0;
}
.dedication {
  display: block;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: center;
  vertical-align: baseline;
  width: 70%;
  margin: 20% 15% 2em;
  padding: 0;
  border: currentColor none 0;
}
.heada {
  clear: both;
  display: block;
  font-family: inherit;
  font-size: 1.125em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: normal;
  hyphens: none;
  line-height: inherit;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center;
  text-indent: 0;
  vertical-align: baseline;
  margin: 1em 0;
  padding: 0;
  border: currentColor none 0;
}
.hidden_content {
  display: none;
  margin-bottom: 0.7em;
}
.hidden_content1 {
  display: none;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: currentColor none 0;
}
.image_full {
  border-radius: 2px;
  clear: both;
  display: block;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  height: 96vh;
  line-height: inherit;
  overflow: hidden;
  page-break-inside: avoid;
  text-align: center;
  vertical-align: baseline;
  width: 100%;
  margin: 1em auto;
  padding: 0;
  border: currentColor none 0;
}
.imprint_logo {
  clear: both;
  display: block;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  page-break-before: avoid;
  page-break-inside: avoid;
  text-align: center;
  vertical-align: baseline;
  width: 100%;
  margin: 3em auto 1em;
  padding: 0;
  border: currentColor none 0;
}
.indent {
  display: block;
  font-family: serif;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  orphans: 2;
  text-indent: 1em;
  vertical-align: baseline;
  widows: 2;
  margin: 0;
  padding: 0;
  border: currentColor none 0;
}
.landscape_default {
  border-radius: 2px;
  clear: both;
  display: block;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  page-break-inside: avoid;
  text-align: center;
  vertical-align: baseline;
  width: 70%;
  margin: 3.5em 15% 1em;
  padding: 0;
  border: currentColor none 0;
}
.landscape_large {
  clear: both;
  display: block;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  page-break-inside: avoid;
  text-align: center;
  vertical-align: baseline;
  width: 100%;
  margin: 1em auto;
  padding: 0;
  border: currentColor none 0;
}
.landscape_medium {
  border-radius: 2px;
  clear: both;
  display: block;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  page-break-inside: avoid;
  text-align: center;
  vertical-align: baseline;
  width: 84%;
  margin: 1em 8%;
  padding: 0;
  border: currentColor none 0;
}
.landscape_xsmall {
  border-radius: 2px;
  clear: both;
  display: block;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  page-break-inside: avoid;
  text-align: center;
  vertical-align: baseline;
  width: 25%;
  margin: 1em 37.5%;
  padding: 0;
  border: currentColor none 0;
}
.no_indent {
  display: block;
  font-family: serif;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  orphans: 2;
  text-indent: 0;
  vertical-align: baseline;
  widows: 2;
  margin: 3.5em 0 0;
  padding: 0;
  border: currentColor none 0;
}
.no_indent1 {
  display: block;
  font-family: serif;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  orphans: 2;
  text-indent: 0;
  vertical-align: baseline;
  widows: 2;
  margin: 0;
  padding: 0;
  border: currentColor none 0;
}
.no_indent2 {
  display: block;
  font-family: "font-penguin", "avenir", "avenir next", "proxima nova", sans-serif;
  font-size: 0.75em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  orphans: 2;
  text-align: center;
  text-indent: 0;
  vertical-align: baseline;
  widows: 2;
  margin: 0 0 1em;
  padding: 0;
  border: currentColor none 0;
}
.no_indent3 {
  display: block;
  font-family: "font-penguin", "avenir", "avenir next", "proxima nova", sans-serif;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  orphans: 2;
  text-align: center;
  text-indent: 0;
  vertical-align: baseline;
  widows: 2;
  margin: 0 0 1em;
  padding: 0;
  border: currentColor none 0;
}
.no_indent4 {
  display: block;
  font-family: "font-penguin", "avenir", "avenir next", "proxima nova", sans-serif;
  font-size: 0.75em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  orphans: 2;
  text-align: center;
  text-indent: 0;
  vertical-align: baseline;
  widows: 2;
  margin: 1em 0;
  padding: 0;
  border: currentColor none 0;
}
.no_wrap {
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  overflow: hidden;
  vertical-align: baseline;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  border: currentColor none 0;
}
.no_wrap1 {
  color: #4C71B3;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  overflow: hidden;
  text-decoration: none;
  text-decoration-color: #4C7AA9;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  vertical-align: baseline;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  border: currentColor none 0;
}
.noindent_topspace {
  display: block;
  font-family: serif;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  orphans: 2;
  text-indent: 0;
  vertical-align: baseline;
  widows: 2;
  margin: 1em 0 0;
  padding: 0;
  border: currentColor none 0;
}
.normal {
  font-family: inherit;
  font-size: 1em;
  font-style: normal;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: currentColor none 0;
}
.portrait_large {
  border-radius: 2px;
  clear: both;
  display: block;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  page-break-inside: avoid;
  text-align: center;
  vertical-align: baseline;
  width: 65%;
  margin: 1em 17.5%;
  padding: 0;
  border: currentColor none 0;
}
.small_caps {
  font-family: inherit;
  font-size: 0.75em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-transform: uppercase;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: currentColor none 0;
}
.small_caps1 {
  font-family: inherit;
  font-size: 0.66667em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-transform: uppercase;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: currentColor none 0;
}
.social_urls {
  display: block;
  font-family: inherit;
  font-size: 0.75em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  letter-spacing: 0.075em;
  line-height: inherit;
  vertical-align: baseline;
  margin: 1em 0 0;
  padding: 0;
  border: currentColor none 0;
}
.subhead {
  display: block;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: underline;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: currentColor none 0;
}
.toc_ol_nested {
  display: block;
  font-size: 1em;
  list-style-type: none;
  padding-left: 1.5em;
  margin: 0.25em auto 0;
}
.toc_ol_root {
  display: block;
  list-style-type: none;
  padding-left: 0.5em;
  margin: 3em auto 0.5em;
}
.txt_box {
  background-color: rgb(243, 242, 239);
  border-radius: 8px;
  clear: both;
  display: block;
  font-family: inherit;
  font-size: 0.75em;
  font-style: normal;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  page-break-inside: avoid;
  text-align: center;
  vertical-align: baseline;
  width: auto;
  margin: 1.5em 5%;
  padding: 15px;
  border: currentColor none medium;
}
.pcalibre:first-letter {
  font-family: serif;
  font-size: 1.8em;
  font-weight: normal;
}
.pcalibre1:visited {
  color: #4C71B3;
  text-decoration: underline;
  text-decoration-color: #4C7AA9;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
}
.pcalibre2:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-decoration-color: #4C7AA9;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
}
.pcalibre5:visited {
  color: #000;
  text-decoration: none;
  text-decoration-color: #4C7AA9;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  border-bottom: currentColor none medium;
}
.pcalibre6:visited {
  color: inherit;
  text-decoration: none;
  text-decoration-color: #4C7AA9;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  border-bottom: currentColor none medium;
}
.pcalibre3:hover {
  color: rgb(255, 102, 0);
}
.pcalibre4:active {
  color: rgb(255, 102, 0);
}
