@page {
  margin-bottom: 5pt;
  margin-top: 5pt;
}
@font-face {
  font-family: "EBGaramond";
  src: url(fonts/EBGaramond_-_BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "LexendTera";
  src: url(fonts/LexendTera_-_Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Spectral";
  src: url(fonts/Spectral_-_Regular.ttf);
}
@font-face {
  font-family: "Spectral-Light";
  src: url(fonts/Spectral-Light_-_Regular.ttf);
}
@font-face {
  font-family: "Spectral-Semi";
  src: url(fonts/Spectral-Semi_-_Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "LexendTera-Light";
  src: url(fonts/LexendTera-Light_-_Regular.ttf);
}
@font-face {
  font-family: "EBGaramond";
  src: url(fonts/EBGaramond_-_Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "EBGaramond";
  src: url(fonts/EBGaramond_-_Regular.ttf);
}
@font-face {
  font-family: "EBGaramond";
  src: url(fonts/EBGaramond_-_Italic.ttf);
  font-style: italic;
}
