.block_ {
  display: block;
  line-height: 14.4pt;
  text-align: justify;
  text-indent: 1.2em;
  margin: 0;
  padding: 0;
}
.block_1 {
  display: block;
  font-family: "Spectral", serif;
  font-size: 1.83333em;
  font-weight: normal;
  line-height: 26.4pt;
  text-align: center;
  text-indent: 0;
  margin: 65.5pt 0 4ex;
  padding: 0;
}
.block_2 {
  display: block;
  line-height: 14.4pt;
  text-align: justify;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.block_3 {
  display: block;
  line-height: 14.4pt;
  text-align: justify;
  text-indent: 0;
  margin: 0 0 0 2em;
  padding: 0;
}
.block_4 {
  display: block;
  font-family: "Cambria", serif;
  line-height: 14.4pt;
  text-align: left;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.block_5 {
  display: block;
  font-family: "Candara", serif;
  font-size: 1.125em;
  line-height: 16.2pt;
  text-align: center;
  text-indent: 0;
  margin: 0.4ex 0 1.2ex;
  padding: 0 2pt 6pt;
  border-bottom: #BFBFBF solid 1.38pt;
}
.block_6 {
  display: block;
  font-family: "Candara", serif;
  font-size: 0.75em;
  line-height: 12.6pt;
  text-align: center;
  text-indent: 0;
  margin: 2ex 0 0;
  padding: 0;
}
.block_7 {
  display: block;
  font-family: "Candara", serif;
  font-size: 1.41667em;
  line-height: 20.4pt;
  text-align: center;
  text-indent: 0;
  margin: 0;
  padding: 4pt 3pt 3pt;
}
.block_8 {
  display: block;
  font-family: "Candara", serif;
  font-size: 0.75em;
  line-height: 12.6pt;
  text-align: center;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.block_9 {
  display: block;
  font-family: "Cambria", serif;
  line-height: 14.4pt;
  text-align: left;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.block_10 {
  display: block;
  font-family: "Cambria", serif;
  line-height: 14.4pt;
  text-align: justify;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.block_11 {
  display: block;
  font-family: "Cambria", serif;
  line-height: 14.4pt;
  text-align: center;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.block_12 {
  display: block;
  font-family: "Cambria", serif;
  line-height: 14.4pt;
  text-align: justify;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.block_13 {
  display: block;
  font-family: "Candara", serif;
  font-size: 2em;
  line-height: 33.6pt;
  text-align: center;
  text-indent: 0;
  margin: 46.8pt 0 4ex;
  padding: 0;
}
.block_14 {
  display: block;
  font-family: "Candara", serif;
  line-height: 16.8pt;
  text-align: justify;
  text-indent: 0;
  margin: 2ex 0;
  padding: 0;
}
.block_15 {
  display: block;
  line-height: 14.4pt;
  text-align: center;
  text-indent: 0;
  margin: 65.5pt 0 0;
  padding: 0;
}
.block_16 {
  display: block;
  font-family: "Spectral-Semi", serif;
  font-size: 2em;
  line-height: 28.8pt;
  page-break-after: avoid;
  text-align: center;
  text-indent: 0;
  margin: 65.5pt 0 1ex;
  padding: 0;
}
.block_17 {
  display: block;
  font-family: "LexendTera-Light", serif;
  font-size: 0.75em;
  line-height: 14.4pt;
  text-align: left;
  text-indent: 0;
  margin: 0;
  padding: 1pt 1pt 0;
}
.block_18 {
  display: block;
  font-family: "LexendTera-Light", serif;
  font-size: 0.75em;
  line-height: 14.4pt;
  text-align: center;
  text-indent: 0;
  margin: 0;
  padding: 0 1pt;
}
.block_19 {
  display: block;
  font-family: "LexendTera-Light", serif;
  font-size: 0.75em;
  line-height: 14.4pt;
  text-align: left;
  text-indent: 0;
  margin: 0;
  padding: 0 1pt;
}
.block_20 {
  display: block;
  font-family: "LexendTera-Light", serif;
  font-size: 0.75em;
  line-height: 14.4pt;
  text-align: center;
  text-indent: 0;
  margin: 0;
  padding: 0 1pt 1pt;
}
.block_21 {
  display: block;
  font-family: "Spectral-Semi", serif;
  font-size: 1.83333em;
  font-weight: normal;
  line-height: 26.4pt;
  page-break-after: avoid;
  text-align: center;
  text-indent: 0;
  margin: 65.5pt 0 4ex;
  padding: 0;
}
.block_22 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 14.4pt;
  text-align: justify;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.block_23 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 14.4pt;
  text-align: justify;
  margin: 2ex 0;
  padding: 0;
}
.block_24 {
  display: block;
  font-size: 0.75em;
  line-height: 14.4pt;
  text-align: justify;
  text-indent: 1.2em;
  margin: 0;
  padding: 0;
}
.block_25 {
  color: #6A6B6D;
  display: block;
  line-height: 14.4pt;
  text-align: justify;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.block_26 {
  color: #6A6B6D;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 14.4pt;
  text-align: justify;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.block_27 {
  display: block;
  font-family: "Spectral", serif;
  line-height: 14.4pt;
  text-align: center;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.block_28 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 14.4pt;
  text-align: justify;
  text-indent: 1.2em;
  margin: 0;
  padding: 0;
}
.block_29 {
  display: block;
  font-family: "LexendTera", serif;
  font-size: 0.75em;
  line-height: 14.4pt;
  text-align: center;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.block_30 {
  display: block;
  font-family: "Cambria", serif;
  line-height: 14.4pt;
  text-align: center;
  text-indent: 0;
  margin: 65.5pt 0 6ex;
  padding: 0;
}
.block_31 {
  display: block;
  font-family: "Spectral", serif;
  line-height: 14.4pt;
  text-align: justify;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.block_32 {
  display: block;
  font-family: "Spectral", serif;
  font-size: 1.83333em;
  font-weight: normal;
  line-height: 26.4pt;
  page-break-after: avoid;
  text-align: center;
  text-indent: 0;
  margin: 65.5pt 0 4ex;
  padding: 0;
}
.block_33 {
  display: block;
  line-height: 14.4pt;
  text-align: left;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.block_34 {
  display: block;
  font-family: "Spectral", serif;
  font-size: 1.83333em;
  line-height: 26.4pt;
  page-break-after: avoid;
  text-align: center;
  text-indent: 0;
  margin: 46.8pt 0 2ex;
  padding: 0;
}
.block_35 {
  display: block;
  font-family: "Candara", serif;
  font-size: 0.75em;
  line-height: 14.4pt;
  text-align: center;
  text-indent: 0;
  margin: 2.4ex 0 0;
  padding: 0;
}
.block_36 {
  display: block;
  font-family: "Cambria", serif;
  line-height: 14.4pt;
  text-align: center;
  text-indent: 0;
  margin: 32.8pt 0 0.4ex;
  padding: 0;
}
.block_37 {
  display: block;
  font-size: 0.75em;
  line-height: 14.4pt;
  text-align: center;
  text-indent: 0;
  margin: 0 0 2ex;
  padding: 0;
}
.block_38 {
  display: block;
  font-size: 0.75em;
  line-height: 14.4pt;
  text-align: center;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.calibre {
  color: #000;
  display: block;
  font-family: "EBGaramond", serif;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  height: 648pt;
  width: 441pt;
}
.calibre2 {
  display: table-row-group;
  vertical-align: middle;
}
.calibre3 {
  display: table-row;
  vertical-align: inherit;
}
.calibre4 {
  height: 648pt;
  width: 429pt;
}
.calibre5 {
  height: 27pt;
  width: 28pt;
}
.calibre6 {
  height: 28pt;
  width: 16pt;
}
.calibre7 {
  display: block;
}
.calibre8 {
  height: 14pt;
  width: 14pt;
}
.calibre9 {
  height: 63pt;
  width: 198pt;
}
.table_ {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-top: 0;
  text-indent: 0;
  width: 100%;
}
.td_ {
  background-color: #F3F4F4;
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 45%;
  padding: 0.5ex 5.75pt;
  border-top: currentColor double 3pt;
  border-right: #97999B solid 1pt;
  border-bottom: #97999B solid 1pt;
  border-left: currentColor double 3pt;
}
.td_1 {
  background-color: #F3F4F4;
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 45%;
  padding: 0.5ex 5.75pt;
  border-top: currentColor double 3pt;
  border-right: currentColor double 3pt;
  border-bottom: #97999B solid 1pt;
  border-left: #97999B solid 1pt;
}
.td_2 {
  background-color: #F3F4F4;
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 45%;
  padding: 0.5ex 5.75pt;
  border-top: #97999B solid 1pt;
  border-right: #97999B solid 1pt;
  border-bottom: #97999B solid 1pt;
  border-left: currentColor double 3pt;
}
.td_3 {
  background-color: #F3F4F4;
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 45%;
  padding: 0.5ex 5.75pt;
  border-top: #97999B solid 1pt;
  border-right: currentColor double 3pt;
  border-bottom: #97999B solid 1pt;
  border-left: #97999B solid 1pt;
}
.td_4 {
  background-color: #F3F4F4;
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 45%;
  padding: 0.5ex 5.75pt;
  border-top: #97999B solid 1pt;
  border-right: #97999B solid 1pt;
  border-bottom: currentColor double 3pt;
  border-left: currentColor double 3pt;
}
.td_5 {
  background-color: #F3F4F4;
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 45%;
  padding: 0.5ex 5.75pt;
  border-top: #97999B solid 1pt;
  border-right: currentColor double 3pt;
  border-bottom: currentColor double 3pt;
  border-left: #97999B solid 1pt;
}
.text_ {
  background-color: transparent;
  letter-spacing: 0;
  padding: 0;
  border: currentColor none 1pt;
}
.text_1 {
  background-color: transparent;
  color: #000;
  letter-spacing: 0;
  padding: 0;
  border: currentColor none 1pt;
}
.text_2 {
  background-color: transparent;
  color: #00F;
  letter-spacing: 0;
  text-decoration: underline;
  padding: 0;
  border: currentColor none 1pt;
}
.text_3 {
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 0;
  padding: 0;
  border: currentColor none 1pt;
}
.text_4 {
  background-color: transparent;
  color: #00F;
  font-weight: bold;
  letter-spacing: 0;
  text-decoration: underline;
  padding: 0;
  border: currentColor none 1pt;
}
.text_5 {
  background-color: transparent;
  font-style: italic;
  letter-spacing: 0;
  padding: 0;
  border: currentColor none 1pt;
}
.text_6 {
  background-color: transparent;
  font-size: 1em;
  letter-spacing: 0;
  padding: 0;
  border: currentColor none 1pt;
}
.text_7 {
  background-color: transparent;
  font-size: 0.77778em;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 0;
  border: currentColor none 1pt;
}
.text_8 {
  background-color: transparent;
  color: #6A6B6D;
  font-family: "Spectral-Light", serif;
  font-size: 1.88889em;
  letter-spacing: 0;
  line-height: 1.2;
  padding: 0;
  border: currentColor none 1pt;
}
.text_9 {
  background-color: transparent;
  color: #000;
  font-family: "EBGaramond", serif;
  font-size: 1.33333em;
  letter-spacing: 0;
  padding: 0;
  border: currentColor none 1pt;
}
.text_10 {
  background-color: transparent;
  color: #6A6B6D;
  font-family: "EBGaramond", serif;
  font-size: 1.33333em;
  letter-spacing: 0;
  padding: 0;
  border: currentColor none 1pt;
}
.text_11 {
  background-color: transparent;
  color: #6A6B6D;
  letter-spacing: 0;
  padding: 0;
  border: currentColor none 1pt;
}
.text_12 {
  background-color: transparent;
  font-size: 1.33333em;
  letter-spacing: 0;
  padding: 0;
  border: currentColor none 1pt;
}
.text_13 {
  background-color: transparent;
  font-size: 1em;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 0;
  border: currentColor none 1pt;
}
.text_14 {
  background-color: transparent;
  color: #6A6B6D;
  font-family: "EBGaramond", serif;
  font-size: 1.33333em;
  font-style: italic;
  letter-spacing: 0;
  padding: 0;
  border: currentColor none 1pt;
}
.text_15 {
  background-color: transparent;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0;
  padding: 0;
  border: currentColor none 1pt;
}
.text_16 {
  background-color: transparent;
  font-family: "Spectral-Light", serif;
  font-size: 1.88889em;
  letter-spacing: 0;
  line-height: 1.2;
  padding: 0;
  border: currentColor none 1pt;
}
.text_17 {
  background-color: transparent;
  font-family: "EBGaramond", serif;
  font-size: 1.33333em;
  letter-spacing: 0;
  padding: 0;
  border: currentColor none 1pt;
}
.text_18 {
  background-color: transparent;
  color: #000;
  font-family: "EBGaramond", serif;
  font-size: 1.33333em;
  font-style: italic;
  letter-spacing: 0;
  padding: 0;
  border: currentColor none 1pt;
}
.text_19 {
  background-color: transparent;
  font-family: "Spectral", serif;
  font-size: 1em;
  letter-spacing: 0;
  padding: 0;
  border: currentColor none 1pt;
}
.text_20 {
  background-color: transparent;
  color: #000;
  font-style: italic;
  letter-spacing: 0;
  padding: 0;
  border: currentColor none 1pt;
}
.text_21 {
  background-color: transparent;
  font-family: "LexendTera", serif;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0;
  padding: 0;
  border: currentColor none 1pt;
}
.text_22 {
  background-color: transparent;
  font-family: "Spectral", serif;
  font-size: 1.5em;
  letter-spacing: 0;
  line-height: 1.2;
  padding: 0;
  border: currentColor none 1pt;
}
.text_23 {
  background-color: transparent;
  font-family: "EBGaramond", serif;
  font-size: 1.33333em;
  font-style: italic;
  letter-spacing: 0;
  padding: 0;
  border: currentColor none 1pt;
}
